/**
* Media Queries
**/

@media screen and (min-width: 320px) {
  .frontpage-mobile {
    display: flex;
  }
  [class*='col-'] {
    display: none;
  }
  [class*='mobile-text'] {
    display: flex;
  }
  [class*='tablet-text'] {
    display: none;
  }
  [class*='example-'] {
    background-size: cover;
  }
  .example-1 {
    background-image: url(../images/portfolio/mobile-sized-examples/mobile-example1.jpg);
  }
  .example-2 {
    background-image: url(../images/portfolio/mobile-sized-examples/mobile-example2.jpg);
  }
  .example-3 {
    background-image: url(../images/portfolio/mobile-sized-examples/mobile-example3.jpg);
  }
  .example-4 {
    background-image: url(../images/portfolio/mobile-sized-examples/mobile-example4.jpg);
  }
  .example-5 {
    background-image: url(../images/portfolio/mobile-sized-examples/mobile-example5.jpg);
  }
  .artcolumns-container {
    display: none;
  }
  .portfolio .carousel {
    margin: 0 32px;
  }
  #art {
    height: 568px;
  }
  [class*='art-'] {
    flex-flow: column;
  }
}

@media screen and (min-width: 480px) {}

@media screen and (min-width: 620px) {
  .frontpage-mobile {
    background-size: contain;
    background-position: 50% 0;
  }
  [class*='laptop-text'] {
    display: flex;
  }
  [class*='tablet-text'] {
    display: block;
  }
  [class*='example-'] {
    background-size: contain;
  }
}

@media screen and (min-width: 810px) {
  .artcolumns-container {
    display: flex;
  }
  .art-320px {
    display: none;
  }
  .portfolio .carousel {
    margin: 0 60px;
  }
  #art {
    height: 1115px;
  }
}

@media screen and (min-width: 1024px) {
  .frontpage-mobile {
    display: none;
  }
  [class*='col-'] {
    display: flex;
  }
  .col-1:hover,
  .col-2:hover {
    width: 100%;
    -webkit-transition: width 500ms ease-in-out;
    -moz-transition: width 500ms ease-in-out;
    transition: width 500ms ease-in-out;
  }
  [class*='example-'] {
    background-size: cover;
  }
  .example-1 {
    background-image: url(../images/portfolio/laptop-sized-examples/example1.jpg);
  }
  .example-2 {
    background-image: url(../images/portfolio/laptop-sized-examples/example2.jpg);
  }
  .example-3 {
    background-image: url(../images/portfolio/laptop-sized-examples/example3.jpg);
  }
  .example-4 {
    background-image: url(../images/portfolio/laptop-sized-examples/example4.jpg);
  }
  .example-5 {
    background-image: url(../images/portfolio/laptop-sized-examples/example5.jpg);
  }
  [class*='art-'] {
    flex-flow: row nowrap;
  }
  #art {
    height: 620px;
  }
}
