<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">John Campbell Portfolio</a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a id="home-click" href="#frontpage">Home</a></li>
          <li><a id="portfolio-click" href="#portfolio">Portfolio</a></li>
          <li><a id="skills-click" href="#skills">Skills</a></li>
          <li><a id="about-click" href="#about">About</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>    