<div id="art" class="container-fluid art">
  <h2>3D Art</h2>
 
 <div class="carousel-810px">
  <div class="carousel art-810px" data-flickity='{ "autoPlay": true }'>
    <div class="carousel-cell art-center">
      <div class="sketchfab-embed-wrapper"><iframe width="640" height="480" src="https://sketchfab.com/models/0dfae3b955ed416da3f004fcfe5c1f7a/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
        <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
          <a href="https://sketchfab.com/models/0dfae3b955ed416da3f004fcfe5c1f7a?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Warrior</a> by <a href="https://sketchfab.com/sketch5051?utm_medium=embed&utm_source=website&utm_campain=share-popup"
            target="_blank" style="font-weight: bold; color: #1CAAD9;">sketch5051</a>
        </p>
      </div>
    </div>
    <div class="carousel-cell art-center">
      <div class="sketchfab-embed-wrapper"><iframe width="640" height="480" src="https://sketchfab.com/models/7941b53bb9d3440291d6f4662d68ffad/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
        <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
          <a href="https://sketchfab.com/models/7941b53bb9d3440291d6f4662d68ffad?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Pirate Ship</a> by <a href="https://sketchfab.com/sketch5051?utm_medium=embed&utm_source=website&utm_campain=share-popup"
            target="_blank" style="font-weight: bold; color: #1CAAD9;">sketch5051</a>
        </p>
      </div>
    </div>
    <div class="carousel-cell art-center">
      <div class="sketchfab-embed-wrapper"><iframe width="640" height="480" src="https://sketchfab.com/models/7d974d3ed8b94005b4651af4c0805468/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
        <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
          <a href="https://sketchfab.com/models/7d974d3ed8b94005b4651af4c0805468?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Cargo Container</a> by <a href="https://sketchfab.com/sketch5051?utm_medium=embed&utm_source=website&utm_campain=share-popup"
            target="_blank" style="font-weight: bold; color: #1CAAD9;">sketch5051</a>
        </p>
      </div>
    </div>
    <div class="carousel-cell art-center">
      <div class="sketchfab-embed-wrapper"><iframe width="640" height="480" src="https://sketchfab.com/models/3e22dc970cf74cf4ae8588e89052c469/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
        <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
          <a href="https://sketchfab.com/models/3e22dc970cf74cf4ae8588e89052c469?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Imperial Cruiser</a> by <a href="https://sketchfab.com/sketch5051?utm_medium=embed&utm_source=website&utm_campain=share-popup"
            target="_blank" style="font-weight: bold; color: #1CAAD9;">sketch5051</a>
        </p>
      </div>
    </div>
  </div>
  </div>
  <div class="carousel-320px">
  <div class="carousel art-320px" data-flickity='{ "autoPlay": true }'>
    <div class="carousel-cell art-center">
      <div class="sketchfab-embed-wrapper"><iframe width="220" height="480" src="https://sketchfab.com/models/0dfae3b955ed416da3f004fcfe5c1f7a/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
        <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
          <a href="https://sketchfab.com/models/0dfae3b955ed416da3f004fcfe5c1f7a?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Warrior</a> by <a href="https://sketchfab.com/sketch5051?utm_medium=embed&utm_source=website&utm_campain=share-popup"
            target="_blank" style="font-weight: bold; color: #1CAAD9;">sketch5051</a>
        </p>
      </div>
    </div>
    <div class="carousel-cell art-center">
      <div class="sketchfab-embed-wrapper"><iframe width="220" height="480" src="https://sketchfab.com/models/7941b53bb9d3440291d6f4662d68ffad/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
        <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
          <a href="https://sketchfab.com/models/7941b53bb9d3440291d6f4662d68ffad?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Pirate Ship</a> by <a href="https://sketchfab.com/sketch5051?utm_medium=embed&utm_source=website&utm_campain=share-popup"
            target="_blank" style="font-weight: bold; color: #1CAAD9;">sketch5051</a>
      </div>
    </div>
    <div class="carousel-cell art-center">
      <div class="sketchfab-embed-wrapper"><iframe width="220" height="480" src="https://sketchfab.com/models/7d974d3ed8b94005b4651af4c0805468/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
        <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
          <a href="https://sketchfab.com/models/7d974d3ed8b94005b4651af4c0805468?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Cargo Container</a> by <a href="https://sketchfab.com/sketch5051?utm_medium=embed&utm_source=website&utm_campain=share-popup"
            target="_blank" style="font-weight: bold; color: #1CAAD9;">sketch5051</a>
        </p>
      </div>
    </div>
    <div class="carousel-cell art-center">
      <div class="sketchfab-embed-wrapper"><iframe width="220" height="480" src="https://sketchfab.com/models/3e22dc970cf74cf4ae8588e89052c469/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
        <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
          <a href="https://sketchfab.com/models/3e22dc970cf74cf4ae8588e89052c469?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Imperial Cruiser</a> by <a href="https://sketchfab.com/sketch5051?utm_medium=embed&utm_source=website&utm_campain=share-popup"
            target="_blank" style="font-weight: bold; color: #1CAAD9;">sketch5051</a>
        </p>
      </div>
    </div>
  </div>
  </div>
</div>
