<div id="about" class="container-fluid about">
  <h1>Skills</h1>
  <div class="skills-container">
    <div class="row-1">
      <div class="h3-container-1 animated">
      <h3>Front-end</h3>
      </div>
      <ul>
        <li>
          <strong>HTML/CSS</strong>
          <ul>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>SASS/SCSS</li>
            <li>Jekyl</li>
          </ul>
        </li>
        <li>
          <strong>JavaScript</strong>
          <ul>
            <li>jQuery</li>
            <li>React</li>
            <li>Angular</li>
            <li>Babel</li>
          </ul>
        </li>
        <li>
          <strong>Tools &amp; Frameworks</strong>
          <ul>
            <li>Gulp, Bower, npm, Webpack</li>
            <li>Express, Browserify, Handlebars</li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="row-2">
      <div class="h3-container-2 animated">
      <h3>Back-end</h3>
      </div>
      <ul>
        <li>
          <strong>Languages</strong>
          <ul>
            <li>NodeJS</li>
            <li>.Net Frameworks</li>
          </ul>
        </li>
        <li>
          <strong>Databases</strong>
          <ul>
            <li>MySQL</li>
          </ul>
        </li>
        <!--<li>-->
        <!--  Tools &amp; Frameworks-->
        <!--  <ul>-->
        <!--    <li>Docker</li>-->
        <!--    <li>Composer</li>-->
        <!--    <li>Symfony2, Laravel, Zend2, Silex</li>-->
        <!--    <li>Express, Hapi</li>-->
        <!--  </ul>-->
        <!--</li>-->
      </ul>
    </div>

    <div class="row-3">
      <div class="h3-container-3 animated">
      <h3>Other</h3>
      </div>
      <ul>
        <li>
          <strong>Design</strong>
          <ul>
            <li>Photoshop</li>
            <li>illustrator</li>
            <li>inDesign</li>
          </ul>
        </li>
        <li>
          <strong>3D Modeling</strong>
          <ul>
            <li>3D Studio Max</li>
            <li>Maya</li>
          </ul>
        </li>
        <li>
          <strong>Other</strong>
          <ul>
            <li>Interaction Design</li>
            <li>Agile/Scrum</li>
            <li>Gitflow</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
