<div id="frontpage" class="container-fluid frontpage animate">
  <!--display this section when on mobile or on tablets-->
  <div class="frontpage-mobile">
    <div class="mobile-text-1 animated">
      <h1>designer</h1>
      <p class="tablet-text-1">UI/UX Designer with a passion for designing beautiful and functional user experiences.</p>
    </div>
    <div class="mobile-text-2 animated">
      <h1>&lt;coder /&gt;</h1>
      <p class="tablet-text-2">Front End Developer who focuses on writing clean, elegant and efficient code.</p>
    </div>
  </div>
  
  <!--display this section when on a computer-->
  <div class="col-1">
    <div class="laptop-text-1 animated">
      <h1>designer</h1>
      <p>UI/UX Designer with a passion for designing beautiful and functional user experiences.</p>
    </div>
    <div class="designerimage animated">
    </div>
  </div>
  <div class="col-2">
    <div class="coderimage animated">
    </div>
    <div class="laptop-text-2 animated">
      <h1>&lt;coder /&gt;</h1>
      <p>Front End Developer who focuses on writing clean, elegant and efficient code.</p>
    </div>
  </div>
</div>
