

<div id="portfolio" class="container-fluid portfolio">
  <h2>Websites</h2>
  <div class="carousel"  data-flickity='{ "autoPlay": true }'>
    <a href="https://campbell20.github.io/lesson6-challenge-day2/" class="carousel-cell example-1">
      An example image heavy site.
    </a>
    <a href="https://campbell20.github.io/eagle-lube-pleasanton-texas/" class="carousel-cell example-2">
      A freelance website created within a week.
    </a>
    <a href="https://campbell20.github.io/lesson6-challenge/" class="carousel-cell example-3">
      An example of an e-commerce site.
    </a>
    <a href="https://campbell20.github.io/Lesson4-Challenge-Day2/" class="carousel-cell example-4">
      An example of a scheduling site.
    </a>
    <a href="https://campbell20.github.io/Lesson4-Challenge/" class="carousel-cell example-5">
      An example of a blogging site.
    </a>
  </div>
</div>
