#art {
    background-image: url("../images/art-background.jpg");
    background-repeat: no-repeat;
    background-color: #865a7e;
    width: 100%;
    text-align: center;
    color: white;
}

.artcolumns-container {
    justify-content: center;
    flex-flow: row nowrap;
}

[class*='art-'] {
    display: flex;
    justify-content: center;
}

.sketchfab-embed-wrapper {
    margin-right: 10px;
}
.carousel-320px .carousel {
    background-image: url("../images/art-background.jpg");
    background-repeat: no-repeat;
    background-color: #865a7e;
    margin: 0 30px;
    /* space for prev/next buttons */
}

.art .carousel-cell {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 470px;
    margin-right: 10px;
    background-color: transparent;
    border-radius: 5px;
    counter-increment: gallery-cell;
}
